.me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  font-size: 100px;
  margin-bottom: 5%;
}


#aboutme {
  padding-top: 15px;
}

.about{
  background: url(../images/backgro.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding-top:1% ;
  padding-bottom: 1%;
  margin-left: 25px;
  margin-right: 25px;
}

.file{
  padding: 1%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-image: url(../images/8uLjyU.jpg);
}

.hob {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 5%;
  color: white;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
}

.row2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 100px;
  margin-left: 100px;
}

.img4 {
  width: 300px;
  height: 300px;
}

.info-list {
  font-size: 20px;
  line-height: 31px;
}

dl {
  display: inline;
  margin-top: 0;
  margin-bottom: 1rem;
  box-sizing: inherit;
  font-weight: 400;
  color: white;
}

.info-list dt {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
}

.info-list dd {
  padding-left: 170px;
  margin-bottom: 15px;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  margin-left: 17%;
  margin-right: 16%;
  font-size: 20px;
  padding: 15px ;
  line-height: 40px;
  gap: 50px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.free-time {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 17px;
  margin-bottom: 10px;
}

.hob-name {
  font-size: 20px;
  color: white;
}

.things {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 14px;
  margin-right: 14px;
  width: 276px;
  place-content: center;
  text-align: center;
}

.fa-tv {
  background: green;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 240%;
  margin-bottom: 25px;
  border-radius: 50px;
}

.fa-gamepad {
  background: green;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 240%;
  margin-bottom: 25px;
  border-radius: 50px;
}

.fa-swimmer {
  background: green;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 240%;
  margin-bottom: 25px;
  border-radius: 50px;
}

.fa-biking {
  background: green;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 240%;
  margin-bottom: 25px;
  border-radius: 50px;
}

.fa-address-card{
  color: white;
  text-shadow: 8px 10px 13px black;
}