#work {
  padding: 5% 10%;
}

.resume-list {
  margin-top: 30px;
  margin-bottom: 30px;
}

.col-md-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;

  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 15px;
  background-color: white;
  border-radius: 20px;
}

.resume-list .resume-list__block {
  border-left: 2px solid #19a207;
  padding-left: 25px;
  padding-bottom: 50px;
  box-sizing: inherit;
}


.exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mine {
  font-size: 40px;
  margin-bottom: 5%;
}

.par {
  font-size: 15px;
  line-height: 30px;
}

.fa-user-graduate {
  background: none;
}

.fa-hard-hat {
  background: none;
}

.fa-school {
  background: none;
}

.fa-school:hover {
  background: none;
  color: black;
}

.fa-keyboard {
  background: none;
}

.fa-keyboard:hover {
  background: none;
  color: black;
}

.line-e {
  border: 1px solid #6bc156;
  height: 1px;
  margin-top: 20px;
}
