.Btn {
  background: #603aca;
  color: white;
  border: 1px solid black;
  border-radius: 13px;
  height: 37px;
  width: 98px;
  position: relative;
  bottom: 10px;
  left: 19px;
  font-size: 18px;
}

.Btn:hover {
  box-shadow: inset 20px 20px 60px #5231ac, inset -20px -20px 60px #6e43e8;
}

footer {
  background: black;
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.g {
  font-size: 40px;
}

@media screen and (max-width: 500px) {
  nav {
    height: 8vh;
    width: 88vh;
    padding-left: 0px;
  }

  .nav-links {
    font-size: 13px;
    margin-right: -14px;
  }
}
@media screen and (max-width: 500px) {
  #homepage {
    padding-top: 50px;
    padding-bottom: 100px;
    padding: 72px;
    width: 50vh;
  }

  .row {
    margin-left: -139px;
  }

  .me {
    font-size: 32px;
    line-height: 38px;
  }

  .file {
    flex-direction: column;
    justify-content: space-evenly;
  }

  dl {
    display: inherit;
    font-weight: bold;
  }

  .info-list {
    font-size: 10px;
    line-height: 10px;
  }

  .img1 {
    display: none;
  }

  .hello {
    font-size: 32px;
    line-height: 50px;
  }

  .line {
  display: none;
  }

  .img4 {
    width: 33vh;
    height: 30vh;
    margin-bottom: 10px;
    top: -1px;
  }

  .info-list {
    font-size: 12px;
    line-height: 14px;
  }

  .row2 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .bio {
    font-size: 13px;
    line-height: 26px;
    padding: 10px;
    margin-left: 13px;
    margin-right: 15px;
    gap: 20px;
  }

  .hob {
    font-size: 29px;
    margin-top: 4%;
  }

  .fa-gamepad,
  .fa-biking,
  .fa-swimmer,
  .fa-tv {
    height: 60px;
    width: 60px;
    font-size: 150%;
    margin-bottom: 9px;
    padding: inherit;
  }

  .things {
    margin-left: 0px;
    margin-right: 0px;
    width: 84px;
  }

  .hob-name {
    font-size: 14px;
    line-height: 20px;
  }

  #work {
    padding-top: 24px;
  }

  .col-md-8 {
    max-width: 90.667%;
  }

  .par {
    line-height: 25px;
  }

  .line-e {
    width: 99%;
  }

  .skill {
    font-size: 0;
    max-width: 90%;
  }

  .pro {
    width: 610px;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 109px;
  }

  .tag {
    display: block ruby;
  }

  .project-card .project-card__info {
    padding: 20px;
    position: relative;
    left: 113px;
  }

  .project-card .project-card__img img {
    height: 327px;
    width: 140%;
    position: relative;
    left: 62px;
  }

  .project-card .project-card__img .img-t {
    width: 140%;
  }

  .owl-carousel .owl-item img {
    height: 86px;
    width: 86px;
  }

  .testimonial {
    height: 51vh;
    margin-left: 0px;
    flex-direction: column;
    width: 231px;
  }

  .progress-list {
    padding: 15px;
    margin-left: 0;
    margin-right: 0;
    display: block;
  }

  .progress-list p {
    font-size: 12px;
  }
  .col-md-5 {
    max-width: 98.667%;
  }

  .quote {
    font-size: 11px;
    line-height: 14px;
  }

  .people {
    font-size: 14px;
  }

  .job {
    font-size: 15px;
  }

  .header {
    height: 54vh;
  }

  .page-header-container {
    line-height: 49px;
  }

  .page-heading2 {
    font-size: 42px;
  }

  .page-subtitle {
    font-size: 32px;
    display: flex;
  }

  .con-info {
    margin-left: 320px;
  }

  .con-info-sub {
    font-size: 18px;
    margin-bottom: 0px;
  }

  .box1 {
    flex-direction: revert;
    height: 0%;
    width: 0%;
    margin-bottom: 700px;
    margin-left: 0%;
    padding-left: 0;
    padding-right: 0;
  }

  .page-subtitle {
    font-size: 32px;
    display: flex;
  }

  .contactpage {
    margin-bottom: -90px;
  }
  #contact-form {
    height: 53vh;
    width: 89%;
    margin-top: 240px;
    margin-bottom: 100px;
  }

  #contact {
    padding-bottom: 153px;
  }

  .Btn {
    height: 31px;
    width: 70px;
    font-size: 12px;
  }

  footer {
    padding: 22px;
  }
}

@media screen and (max-width: 430px){
  #homepage{
    width: 59vh;
  }
  .home-icons{
    justify-content: space-between;
  }
  .download{
    left: 49px;
  }
  }
}

@media screen and (max-width: 400px) {
  nav {
    height: 7vh;
    width: 59vh;
  }
  .nav-links {
    font-size: 11.5px;
  }
  #homepage{
    width: 59vh;
  }
  .home{
    margin-top: 0px;

  }

  .line{
    display: none;
  }

  .download{
    display: flex;
    left: 53px;
  }
  .Btn {
    height: 31px;
    width: 70px;
    font-size: 12px;
  }
}

@media screen and (max-width: 330px){
  .nav-links {
    font-size: 11px;
    }
  
}
