body {
  height: 100vh;
  font-family: Roboto Mono, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  background-color: white;
  overflow-x: hidden;
}

#homepage {
  padding-top: 90px;
  background: url(../images/8uLjyU.jp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  color: white;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  height: 40vh;
  width: 0.5vh;
  border-radius: 50px;
  background: #7700ff;
  margin-right: 5vh;
}

.hello {
  font-family: "Brush Script MT", cursive;
  color: rgb(255, 208, 0);
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
  margin-bottom: 20px;
}

.name {
  line-height: 50px;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.download {
  border-radius: 50px;
  background: #680fb1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 180px;
  position: relative;
  left: 125px;
}

.download:hover {
  border-radius: 50px;
  background: #680fb1;
  box-shadow: inset 5px 5px 10px #2a0647, inset -5px -5px 10px #a618ff;
}

.img1 {
  height: 80vh;
  width: 80vh;
}

.fa-download {
  background: none;
}

.fa-download:hover {
  background: none;
  color: white;
}

.fa-bars {
  background: none;
  display: block ruby;
}

.home-icons {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  border-radius: 50px;
}
