body {
  font-family: Roboto Mono, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  background-color: white;
}

#homepage {
  padding: 5% 10%;
  background: url(../images/8uLjyU.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}



.hello {
  font-family: "Brush Script MT", cursive;
  color: rgb(255, 208, 0);
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
  margin-bottom: 20px;
}

.name {
  line-height: 50px;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download {
  border-radius: 50px;
  background: #19a207;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 180px;
  position: relative;
  left: 125px;
}

.download:hover {
  border-radius: 50px;
  background: #19a207;
box-shadow: inset 20px 20px 60px #158a06, inset -20px -20px 60px #1dba08;
}


.fa-download {
  background: none;
}

.fa-download:hover {
  background: none;
  color: white;
}

.fa-bars {
  background: none;
  display: block ruby;
}

.home-icons {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  border-radius: 50px;
}
