* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  top: 0;
  background: black;
  width: 199vh;
  height: 7vh;
  text-decoration-line: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  padding-left: 90px;
}

a {
  color: white;
  list-style-type: none;
  text-decoration: none;
}

.nav-links {
  position: relative;
  font-family: Roboto Mono, monospace;
  font-size: 30px;
  top: 100;
  left: 0;
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  padding: 10px;
  transition: all 0.2s linear;
}

.nav-links:hover {
  background: rgb(202, 8, 8);
  color: black;
}


.nav-btn {
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: 25px;
  margin-right: 10px;
}
