.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.col-md-5{
  display: flex;
  gap: 20px;
font-size:100px;
}

.progress-list {
  color: rgb(0, 0, 0);
  padding: 20px;
  background: #19a207;
  border-radius: 20px;
  transition: linear 0.6s;
}

.progress-list:hover{
  color: #19a207;
  background: rgb(0, 0, 0);
}


